html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {
	height: 100%;
	font: 14px/24px Arial, Tahoma, sans-serif;
}
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {text-decoration: none;}

@font-face {
    font-family: 'NexaHeavy';
    src: url('../fonts/NexaHeavy.eot');
    src: url('../fonts/NexaHeavy.eot') format('embedded-opentype'),
         url('../fonts/NexaHeavy.woff2') format('woff2'),
         url('../fonts/NexaHeavy.woff') format('woff'),
         url('../fonts/NexaHeavy.ttf') format('truetype'),
         url('../fonts/NexaHeavy.svg#NexaHeavy') format('svg');
}

@font-face {
    font-family: 'NexaLight';
    src: url('../fonts/NexaLight.eot');
    src: url('../fonts/NexaLight.eot') format('embedded-opentype'),
         url('../fonts/NexaLight.woff2') format('woff2'),
         url('../fonts/NexaLight.woff') format('woff'),
         url('../fonts/NexaLight.ttf') format('truetype'),
         url('../fonts/NexaLight.svg#NexaLight') format('svg');
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}
.text-left {text-align: left;}
.text-right {text-align: right;}

.container {
    width: 940px; 
    margin: 0 auto;
}

.header {
    position: absolute; 
    top: 20px;
    padding: 20px 0; 
    left: 0;
    right: 0;
}

.logo {
    float: left;
}

.nav {
    float: right;
    margin-right: 40px;
}

.nav li {
    float: left;
    margin-right: 40px;
    padding-top: 5px;
}

.nav li:last-child {
    margin-right: 0;
}

.nav a {
    text-transform: uppercase;
    font: 14px Arial sans-serif;
    color: #fff;
}

.nav a:hover {
    color: #f1c736;
}

#home { 
    padding-top: 270px;
    text-align: center;
    color: #fff;
    height: 700px;
    background: #222 url(../img/home-bg.jpg) no-repeat center bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#home h3 {
    margin-bottom: 40px;
    font: 40px/40px Arial, sans-serif;
}

#home h1 {
    text-transform: uppercase;
    font: 75px/75px Arial, sans-serif;
    margin-bottom: 50px;
}

.btn {
    display: inline-block;
    padding: 20px 30px;
    background: #FED136;
    font: bold 24px/24px Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    border: 1px;
    -webkit-border-radious: 4px;
        -moz-border-radious: 4px;
        -o-border-radious: 4px;
           border-radious: 4px;
}

.btn:hover {
    background: #daae17;
}

.box {
    padding: 120px 0;
}

#services {
    text-align: center;
}

.portfolio-wrap,
.services-wrap,
.about-wrap,
.team-wrap,
#message {
    padding-top: 70px;
}

h2.title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font: bold 40px/40px Arial, sans-serif;
    color: #222;
}

h5.title {
    margin-bottom: 10px;
    font: bold 18px/18px Arial, sans-serif;
    color: #222;
}

.desc {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
}

.services-item{
    float: left;
    width: 33.33%;
    padding: 90px 10px;
}

.services-item p {
    font-size: 18px;
    line-height: 24px;
    color: #777;
}

.commerce {
    background: url(../img/e-com.png) no-repeat center top;
}

.responsive {
    background: url(../img/resp.png) no-repeat center top;
}

.security {
    background: url(../img/sec.png) no-repeat center top;
}

#portfolio {
    text-align: center;
    background: #f7f7f7;
}

.portfolio-item {
    width: 31%;
    margin-right: 3.5%;
    float: left;
    margin-bottom: 50px;
    background: #fff;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(1),
.portfolio-item:nth-last-child(2),
.portfolio-item:nth-last-child(3) {
    margin-bottom: 0;
}


.p-item-footer {
    padding: 25px 20px;
}

.p-item-footer h5.title {
    margin-bottom: 4px;
}

#about {
    text-align: center;
}

.about-text {
    width: 35%;
}

.about-img {
    width: 30%;
}

.about-img:after {
    content: '';
    height: 94px;
    width: 3px;
    display: block;
    margin: 0 auto;
    background: #f1f1f1;
}

.about-img img, .about-link {
    display: inline-block;
    width: 177px;
    height: 177px;
    border: 7px solid #f1f1f1;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.about-text h5 {
    line-height: 24px;
}

.about-text h5 span {
    text-transform: uppercase;
}

.about-text p {
    font-size: 16px;
    color: #777;
}

.about-link {
    text-transform: uppercase;
    color: #fff;
    padding-top: 30px;
    background: #fed136;
    font: bold 18px/24px Arial, sans-serif;
    text-shadow: 0 1px rgba(0,0,0,.3);
}
#team {
    text-align: center;
    background-color: #f9f9f9;
}

.team-item {
    float: left;
    width: 33.33%;
    padding: 0 10px;
}

.team-item img {
    margin-bottom: 12px;
    border: 7px solid #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
    height: 220px;
    width: 220px;
}

.team-info {
    margin-top: 45px;
}

.cat {
    font: 14px/14px Arial, sans-serif;
    color: #777;
}

.social {
    margin-top: 10px;
}

.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin:0 3px;
    border: 3px solid #222;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
}

.social a.black {
    background-color: #222;
}

.ic-tw {
    background-image: url(../img/twitter.png);
}

.ic-tw:hover {
    border-color: #00aced;
    background-color: #00aced;
    background-image: url(../img/twitter.png);
}

.ic-fb {
    background-image: url(../img/facebook.png);
}

.ic-fb:hover {
    border-color: #3b5998;
    background-color: #3b5998; 
    background-image: url(../img/facebook.png);
}

.ic-pn {
    background-image: url(../img/pinterest.png);
}

.ic-pn:hover {
    border-color: #cb2028;
    background-color: #cb2028;
    background-image: url(../img/pinterest.png);
}

.ic-gl {
    background-image: url(../img/google.png);
}

.ic-gl:hover {
    border-color: #d95232;
    background-color: #d95232;
    background-image: url(../img/google.png);
}

#brand {
    padding: 60px 0;
    text-align: center;
}

#brand a {
    display: inline-block;
    margin-right: 40px;
}

#brand a:last-child {
    margin-right: 0;
}

#brand img {
    vertical-align: middle;
}

#contact {
    text-align: center;
    background: #222 url(../img/map.png) no-repeat right bottom;
}

#contact h2.title {
    color: #fff;
}

#message .left,
#message .right {
    width: 48%;
}

#message input[type="text"],
#message textarea {
    width: 100%;
    font: bold 14px/14px Arial, sans-serif;
    color: #222;
    padding: 15px 20px;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

#message input[type="text"] {
    height: 50px;
    border: 1px solid #ccc;
}

#message textarea {
    height: 210px;
    margin-bottom: 23px;
    border: none;
    resize: none;
}

::-webkit-input-placeholder {
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}

::-moz-placeholder {
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}

#copyright {
    padding: 25px 0;
}

#copyright p {
    margin-top: 13px;
    font: 14px/14px Arial, sans-serif;
    color: #555;
}

.footer-copy {
    padding-top: 8px;
}

.footer-social {
    margin-left: 40%;
}